<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Visualisations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/visualisations.js"></script>
</head>

<body>
    <div class="btn-group">

        <button type="button" class="dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
            Select session
        </button>
        <ul class="dropdown-menu">
            {% for dict_item in session_list %}

            <li class="dropdown-item">
                {% if dict_item["has_data"] == True %}
                <button class="btn btn-success" id="session-select" type="button">{{dict_item["phone_number"]}}</button>
                {% else %}
                <button class="btn btn-info" type="button" id="session-select">{{dict_item["phone_number"]}}</button>
                {% endif %}
            </li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <!-- add new session redirects to /add_session -->
                <button class="btn btn-info" type="button" id="new-session">+ Add new session</button>
            </li>
        </ul>

    </div>
    <button type="button" class="btn btn-primary" id="download-button">Fetch data</button>
    <button type="button" class="btn btn-primary" id="les-go">Go</button>
    <button type="button" class="btn btn-primary" id="show-graphs">Display Graphs</button>

    <ul class="stats">
    </ul>

    <!-- The Modal -->
    <div id="visualisationModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="visualisation_img">

        <!-- Modal Caption (Image Text) -->
        <div id="caption">Calendar heatmap of ordercount, wordcloud of orders, piechart of money spent per city, and a
            graph showing money spent on zomato each month</div>
    </div>



    <script>
        var session_select_buttons = document.querySelectorAll("#session-select");

        session_select_buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                var phone_number = button.innerHTML;
                document.querySelector(".dropdown-toggle").innerHTML = phone_number;
                // if class of button is not btn btn-success then add text saying fetch data first
                if (button.classList.contains("btn-success") == false) {
                    document.querySelector(".dropdown-toggle").innerHTML += " (fetch data first)";
                    document.querySelector("#les-go").disabled = true;
                    document.querySelector("#show-graphs").disabled = true;
                }
            })
        });

        var session_select_buttons = document.querySelectorAll("#session-select");
        // new-session button redirects to /add_session
        document.querySelector("#new-session").addEventListener("click", function () {
            window.location.href = "/add_session";
        })

        session_select_buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                var phone_number = button.innerHTML;
                document.querySelector(".dropdown-toggle").innerHTML = phone_number;
                // if class of button is not btn btn-success then add text saying fetch data first
                if (button.classList.contains("btn-success") == false) {
                    document.querySelector(".dropdown-toggle").innerHTML += " (fetch data first)";
                    document.querySelector("#les-go").disabled = true;
                    document.querySelector("#show-graphs").disabled = true;
                }
            })
        });

        document.querySelector("#les-go").addEventListener("click", getStats)

        document.querySelector("#download-button").addEventListener("click", fetchData);

        document.querySelector("#show-graphs").addEventListener("click", displayGraphs);
        var showVis = document.getElementById("show-graphs");


        showVis.onclick = displayGraphs;

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            document.getElementById("visualisationModal").style.display = "none";
        }

    </script>

</body>

</html>